.accordionContainer {
  max-width: 100rem;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  grid-gap: 15px;
  color: rgb(9, 11, 79);
  transition: 0.6s ease-in-out;
  align-items: center;
  justify-content: center;
}
.accordion {
  border-radius: 6px;
  width: 70%;
}
.accordionHeading {
  padding: 2rem;
  display: flex;
  grid-gap: 10px;
  align-items: center;
  cursor: pointer;
}
.accordionHeading > h3 {
  font-weight: 600;
  font-size: 1rem;
}
.addIcon {
  transform-origin: top left;
  transition: 0.2s ease-in-out;
}

.accordion:nth-child(1) {
  background-color: #fff6ee;
  border-left: 4px solid #ffc48b;
}
.accordion:nth-child(2) {
  background-color: #fafaff;
  border-left: 4px solid #b4b3ff;
}
.accordion:nth-child(3) {
  background-color: #fff0f3;
  border-left: 4px solid #ffbec9;
}
.accordion:nth-child(4) {
  background-color: #fff6ee;
  border-left: 4px solid #ffc48b;
}
.accordion:nth-child(5) {
  background-color: #fafaff;
  border-left: 4px solid #b4b3ff;
}
.accordion:nth-child(6) {
  background-color: #fff0f3;
  border-left: 4px solid #ffbec9;
}
.accordion:nth-child(7) {
  background-color: #fff6ee;
  border-left: 4px solid #ffc48b;
}
.accordion:nth-child(8) {
  background-color: #fafaff;
  border-left: 4px solid #b4b3ff;
}
.accordion:nth-child(9) {
  background-color: #fff0f3;
  border-left: 4px solid #ffbec9;
}
.accordion:nth-child(10) {
  background-color: #fff6ee;
  border-left: 4px solid #ffc48b;
}
.accordion:nth-child(11) {
  background-color: #fafaff;
  border-left: 4px solid #b4b3ff;
}
.accordion:nth-child(12) {
  background-color: #fff0f3;
  border-left: 4px solid #ffbec9;
}
.accordion:nth-child(13) {
  background-color: #fff6ee;
  border-left: 4px solid #ffc48b;
}
.accordion:nth-child(14) {
  background-color: #fafaff;
  border-left: 4px solid #b4b3ff;
}
.accordion:nth-child(15) {
  background-color: #fff0f3;
  border-left: 4px solid #ffbec9;
}
.accordionContent {
  padding: 10px;
  padding-left: 3rem;
  margin-bottom: 1rem;
}
